table, th, td {
    border: 1px solid;

  }
  table{
    width: fit-content;
    height: fit-content;
  }
  th{
    background-color: aqua;
  }
  button{
    background-color: aquamarine;
    color: black;
    float: center;
    text-align: center;
    
  }
 
